name: Renovate

on:
  workflow_dispatch:
  schedule:
    - cron: '0 7 * * 1'

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v40.3.6
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
          configurationFile: renovate-config.js
        env:
          LOG_LEVEL: debug
